.navbar {
	height: max-content;

	.container {
		position: sticky;
		top: 0px;

		.navbar-brand {
			img {
				height: 5rem;
			}
		}

		.custom-navbar-toggle {
			border: 2px solid white;
		}

		.custom-nav.nav-link {
			color: var(--yellow-theme-main-color);

			&.active{
				color: var(--white-theme-text-color) !important;
			}

			&:hover {
				color: var(--white-theme-text-color);
			}
		}

		.text-white.nav-item.dropdown {
			a {
				color: var(--yellow-theme-main-color);
				background: transparent;

				&:hover {
					color: var(--white-theme-text-color);
				}

				// &::after{
				// 	display: none;
				// }
			}

			.dropdown-menu.show {
				color: white;
				background: transparent;
				border: none;
			}
		}
	}
}

// .navbar.scrolled {
// 	height: 100px;
// 	.container {
// 		.navbar-brand {
// 			img {
// 				height: 5rem !important;
// 			}
// 		}
// 	}
// }