:root{
	--yellow-theme-main-color: #FEEF17;
	--white-theme-text-color: #FFFFFF;
	--white-theme-sub-text-color: #f0e5e5;
	--black-theme-dropdown-bg: #252525;
	--black-header-on-scroll: #000;
	--black-nav: #171616;
	--brown-nav: #895129;
}

html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}